[submodule "digifactfel"]
	path = digifactfel
	url = https://github.com/jeffrepo/digifactfel.git
	branch = master
[submodule "geducar"]
	path = geducar
	url = https://github.com/jeffrepo/geducar.git
	branch = master
[submodule "account_gt"]
	path = account_gt
	url = https://github.com/jeffrepo/account_gt.git
